/*font*/
.fontBlue {
	color: #23a1ff;
}
.fontBlack {
	color: #3c3940;
}
.fontGray {
	color: #666;
}

/*block*/
.blueBlock {
	background-color: #1f90e5;
}
.lightBlueBlock {
	background-color: #dbf0ff;
}
.mustardBlock {
	background-color: #eac459;
}
.greenBlock {
	background-color: #79d4a7;
}
.pinkBlock {
	background-color: #ffaa98;
}
.grayBlock {
	background-color: #e7e7e7;
}
.purpleBlock {
	background-color: #9db3f0;
}

/*border*/
.grayBorder {
	border: 1px solid #ebebeb;
}