.dateRangePicker{
	position: absolute;
	top: 25px;
	right: 0;
	background-color: #f7f7f7;
	border-radius: 25px;
	padding: 5px 10px 5px 20px;
}

.dateRangePicker .date {
	display: inline-block;
	min-width: 180px;
	height: 25px;
	font-size: 14px;
}

.dateRangePicker .sprite-icon-settingdate {
	display: inline-block;
	width: 25px;
	height: 25px;
}