.fan_analysis {
/*	border:1px solid green;*/
	display: flex;
	flex-flow: column wrap;
}

.timerange {
	flex: 1 100%;
/*	border: 1px solid red;*/
	height: 100px;
}

.bubble_bar {
	display: flex;
	flex-flow: row wrap;
}

.bubblebg{
	border:'1px solid trasparent';
	width:400px;
  margin-left: auto;
  margin-right: auto;
	background:#181A19;
	height:100%;
}

.bubblebg.light{
	border:2px solid #EAE8E3;
	width:400px;
  margin-left: auto;
  margin-right: auto;
	background:#fff;
	height:100%;
}

.bubblebg h2.title {
  font-size: 18px;
  font-weight: 700;
/*  background:#0e3b40;*/
  background:#082326;
  margin:0; 
  padding:5px;
  padding-left:15px;
/*  color: #bfdee4;*/
  color:#BFE4D4;
  line-height: 25px;
}

.bubblebg.light h2.title {
  font-size: 18px;
  font-weight: 700;
/*  background:#0e3b40;*/
  background:#fcdede;
  margin:0; 
  padding:5px;
  padding-left:15px;
/*  color: #bfdee4;*/
  color:#333333;
  line-height: 25px;
}

.fabtn button {
	width: 150px !important;
}

.fabtn {
  flex: 1;
  background: #000 !important;
  width: 150px !important;
  padding:20px !important;
}

.fabtn.light {
  flex: 1;
  background: #fff !important;
  width: 150px !important;
  padding:20px !important;
  box-shadow:none !important;
}

.fabtn.light button {
  background-color: #EAE8E3 !important;
}

.fabtn.light>button span {
  color: #333333 !important;
}

.bubblebg .shapebar {
	background: #181A19;
}

.bubblebg.light .shapebar {
	background: #fff;
}