@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
 	margin: 0;
 	padding: 0;
 	overflow-x: hidden;
 	font-family: "Noto Sans TC","WenQuanYi Zen Hei","Heiti TC",Helvetica,"Microsoft YaHei","Microsoft JhengHei",Arial,sans-serif;
 	font-size: 16px;
 	line-height: 1.5;
 	background-color: #f7f7f7 !important;
}

* {
	box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
}

input, textarea {
    border-radius: 0;
    -webkit-appearance: none;
}

input[type="text"], input[type="search"] {
    font-size: 100%;
}

button {
    border: none;
    cursor: pointer;
}