@keyframes slide-phrases-upward {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }

}

@keyframes fill-to-white {
  0% {
    fill: #fff;
    opacity: 0;
  }
  100% {
    fill: #23a1ff;
    opacity: 1;
  }
}

@keyframes fill-to-coral {
  0% {
    fill: #23a1ff;
  }

  100% {
    fill: #fff;
  }

}

#page {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  height: 180px;
  margin-top: 140px;
}

#phrase_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 150px;
  overflow: hidden;
  width: 170px;
}

#phrases {
  animation: slide-phrases-upward 15s 1s linear both;
}

#loadingCheckCircleSVG-0 {
  animation: fill-to-white 1s 3s both;
}

#loadingCheckCircleSVG-1 {
  animation: fill-to-white 1s 6s both;
}

#loadingCheckCircleSVG-2 {
  animation: fill-to-white 1s 9s both;
}

#loadingCheckCircleSVG-3 {
  animation: fill-to-white 1s 12s both;
}

#loadingCheckSVG-0 {
  animation: fill-to-coral 1s 3s both;
}

#loadingCheckSVG-1 {
  animation: fill-to-coral 1s 6s both;
}

#loadingCheckSVG-2 {
  animation: fill-to-coral 1s 9s both;
}

#loadingCheckSVG-3 {
  animation: fill-to-coral 1s 12s both;
}

