.cube {
  position: absolute;
  width: 1em;
  height: 1em;
  background: #FED74C;
  -webkit-animation: move 3s ease-in-out infinite;
          animation: move 3s ease-in-out infinite;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  box-shadow: 3.5em 3.5em .3em .1em #DBDBDB;
}
.cube::before, .cube::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cube::before {
  background-color: #C97431;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}
.cube::after {
  background-color: #E7A22B;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
.cube:nth-of-type(1) {
  -webkit-animation-delay: -11.25s;
          animation-delay: -11.25s;
}
.cube:nth-of-type(2) {
  -webkit-animation-delay: -10.5s;
          animation-delay: -10.5s;
}
.cube:nth-of-type(3) {
  -webkit-animation-delay: -9.75s;
          animation-delay: -9.75s;
}
.cube:nth-of-type(4) {
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}
@-webkit-keyframes move {
  0%,
    87.5%,
    100% {
    -webkit-transform: translate(1em, 0em);
            transform: translate(1em, 0em);
  }
  12.5% {
    -webkit-transform: translate(2em, 0em);
            transform: translate(2em, 0em);
  }
  25% {
    -webkit-transform: translate(2em, 1em);
            transform: translate(2em, 1em);
  }
  37.5%, 
    50% {
    -webkit-transform: translate(1em, 1em);
            transform: translate(1em, 1em);
  }
  62.5% {
    -webkit-transform: translate(0em, 1em);
            transform: translate(0em, 1em);
  }
  75% {
    -webkit-transform: translate(0em, 0em);
            transform: translate(0em, 0em);
  }
}
@keyframes move {
  0%,
    87.5%,
    100% {
    -webkit-transform: translate(1em, 0em);
            transform: translate(1em, 0em);
  }
  12.5% {
    -webkit-transform: translate(2em, 0em);
            transform: translate(2em, 0em);
  }
  25% {
    -webkit-transform: translate(2em, 1em);
            transform: translate(2em, 1em);
  }
  37.5%, 
    50% {
    -webkit-transform: translate(1em, 1em);
            transform: translate(1em, 1em);
  }
  62.5% {
    -webkit-transform: translate(0em, 1em);
            transform: translate(0em, 1em);
  }
  75% {
    -webkit-transform: translate(0em, 0em);
            transform: translate(0em, 0em);
  }
}
.box {
  width: 3em;
  height: 2em;
  margin: 70px auto 0;
  font-size: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(60deg) rotateZ(45deg);
          transform: rotateX(60deg) rotateZ(45deg);
}
.box:hover * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.box:active * {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

