.loginContainer {
	margin: 0 auto;
	width: 780px;
	background-color: #fff;
}
.loginContainer .loginBox {
	padding: 30px 40px;
	box-shadow: 0 3px 4px #666;
	border: 4px solid #ebebed;
	text-align: left;
}
.loginBoxLeft,
.loginBoxRight {
	display: inline-block;
	vertical-align: top;
}
.loginBoxLeft {
	width: 304px;
}
.loginBoxRight {
	position: relative;
	border-left: 1px solid #ebebeb;
	height: 378px;
	margin-left: 40px;
	padding-left: 40px;
	width: 344px;
}
.loginContainer .loginBox .inputBox {
	position: relative;
}
.loginContainer .loginBox .inputBox:nth-of-type(1){
	margin-bottom: 20px;
}
.loginContainer .loginBox .inputBox:nth-of-type(2){
	margin-bottom: 30px;
}
.loginContainer .loginBox .inputBox:nth-of-type(3){
	min-height: 80px
}
.loginContainer .loginBox .inputBox label {
	display: block;
	margin-bottom: 10px;
	color:#3c3940;
}
.loginContainer .loginBox .inputBox .inputControl {
	border-radius: 0;
	border: 0;
	height: 50px;
	width: 100%;
	padding: 0 20px;
	background-color: #f7f7f7;
	color:#3c3940;
}
.loginContainer .loginBox .inputBox:nth-of-type(3) .invalidInput {
	top: -25px;
}
.loginContainer .loginBox .inputBox .invalidInput {
	position: absolute;
	top: 0;
	right: 0;
	color: #f24622;
}
.loginContainer .loginSubmitBtn {
	display: block;
	margin: 30px auto 0;
	height: 50px;
	width: 200px;
	line-height: 50px;
	border-radius: 25px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.3);
	background-color: #ffe828;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	outline: none;
	transition: all 0.2s;
}
.loginContainer .loginSubmitBtn:hover {
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.loginContainer .loginFailMsg {
	margin-top: 40px;
	background-color: #ffe1e1;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ef7d65;
}
.loginContainer .fbLoginBtn {
	position: absolute;
	top: 50%;
	left: 58%;
	transform: translate(-50%,-50%);
	width: 300px;
	height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background: #004B9B;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
}
.loginContainer .fbLoginBtn .sprite-icon-fb-btn {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
/*#g-recaptcha {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}*/
