.posttype {
  font-size: 0;
}

.posttype .recharts-legend-item-text {
  color:#fff !important;
}

.posttype.light .recharts-legend-item-text {
  color:#333333 !important;
}

.posttype .boxInfo{
  display: inline-block;
  vertical-align: top;
  position: relative;
	width: 350px;
  font-size: 16px;
}

.posttype .boxInfo .fanTitle {
  z-index: 1;
  margin-top: 10px;
  text-align: center;
  height: 75px;
  line-height: 75px;
  overflow: hidden;
}

.posttype .boxInfo .fanTitle span{
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  text-align: justify;
  word-break: break-all;
}

.posttype .boxInfo .recharts-responsive-container{
  background-color: #fff;
}

.loyalty .boxInfo .recharts-wrapper.postpies {
  background-color: #fff;
}

.cardWrapper > div {
  padding: 0 !important;
  margin-bottom: 10px !important;
}

.cardWrapper .cardheader > div {
  padding-right: 0 !important;
  width: 245px;
}

.cardWrapper .cardheader img {
  box-shadow: 0 3px 4px #666;
  border: 2px solid #fff;
}

.card_reactions {
  background-color: #e7e7e7;
  padding: 10px 16px !important;
  text-align: left;
}

.card_reactions .iconWrap {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
}

.card_reactions .sprite3{
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.circleDiv{
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 50%;
  transform: translate(-50%,0);
  text-align: center;
  width: 300px;
}

.postNumber{
  background-color: #fff;
  text-align: left;
  padding-bottom: 10px;
  height: 34px;
}

.postNumber span:first-child{
  position: absolute;
  left: 90px;
  transform: translate(-50%,0);
}

.postNumber span:nth-child(2){
  position: absolute;
  left: 150px;
  transform: translate(-50%,0);
}

.postNumber span:nth-child(3){
  position: absolute;
  left: 210px;
  transform: translate(-50%,0);
}

.postNumber span:last-child{
  position: absolute;
  left: 270px;
  transform: translate(-50%,0);
}