.singleMain{
  background-color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

.singleMain>img{
  margin: 30px 0 15px 0;
  width: 100px;
  height: 100px;
}

.singleMain p{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}

.singleMain table, td{
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.singleMain table{
  margin: 40px auto 0 auto;
}

.singleMain td{
  height: 100px;
  width: 400px;
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
  vertical-align: middle;
  text-align: left;
  padding: 0 20px;
  color: #333333;
}

.singleMain td>span{
  font-size: 30px;
  font-weight: normal;
  line-height: 100px;
  float: right;
  color: #1d86e7;
}

.arrow{
  /*background-image: url(../imgs/icon_arrow.png);*/
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 100px;
  margin-left: 10px;
  margin-bottom: 4px;
  vertical-align: middle;
}