.sprite4 {
	/*background-image: url(../imgs/ver4_1x_min.png);*/
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite4 {
		/*background-image: url(../imgs/ver4_2x_min.png);*/
		/*background-size: 90px 325px;*/
	}
}

.sprite-bg-fanpage-01 {
	width: 90px;
	height: 90px;
	background-position: 0 0;
}

.sprite-bg-fanpage-02 {
	width: 90px;
	height: 90px;
	background-position: 0 -90px;
}

.sprite-bg-fanpage-03 {
	width: 90px;
	height: 90px;
	background-position: 0 -180px;
}

.sprite-icon-fb-btn {
	width: 30px;
	height: 30px;
	background-position: 0 -270px;
}

.sprite-icon-settingdate {
	width: 25px;
	height: 25px;
	background-position: 0 -300px;
}