/*.topicColorSetting.light {
	background: lightgreen;
}*/

.topicColorSetting{
	margin-left: 40px;
}

.topicColorSetting>div>div>div svg{
	fill: gold !important; 
}

.topicColorSetting.light>div>div>div svg{
	fill: #ccc !important; 
}

.topicColorSetting hr{
	background: #fff; 
}

.topicColorSetting.light hr{
	background: #333333; 
}

.topicColorSetting>div>div>div label{
	color: #fff !important; 
    font-family:Microsoft JhengHei, sans-serif !important;
}

.topicColorSetting.light>div>div>div label{
	color: #333333 !important; 
	font-family:Microsoft JhengHei, sans-serif !important;
}