.postinter_chart .mui-tabs__pane.mui--is-active {
  flex-wrap: wrap;
}
.outerChart.light .tabscustom {
  background-color: #EAE8E3 !important;
}

.outerChart.light .tabscustom > div button{
  color: #333333 !important;
}

/*line chart 下面的圖標*/
.outerChart .recharts-legend-item-text {
  color:#fff !important;
}

.outerChart.light .recharts-legend-item-text {
  color:#333333 !important;
}

.outerChart .recharts-brush > rect {
  y: 350 !important;
  stroke:#fff !important;
  fill:#dbf0ff !important;
}

.outerChart .recharts-brush .recharts-brush-traveller {
  stroke-width: 6px;
}
.outerChart .recharts-brush .recharts-brush-traveller > rect {
  y: 350;
  fill:#1f90e5 !important;
  width: 10px !important;
}

.zoombardiv .lineChart .recharts-legend-wrapper {
  bottom: -18px !important;
}

.zoombardiv {
	width: 100%;
  border: 1px solid #ebebeb;
  padding: 30px;
  margin: 0 30px 20px;
}

.scatterdiv {
	width: 100%;
	height: 450px;
}

.scatterdiv h2.title{
  vertical-align: middle;
}

.zoombar .recharts-cartesian-axis-ticks tspan {
	fill:initial;
}

/*.outerChart.light .recharts-brush rect {
  y: 350;
  stroke:#fff !important;
  opacity: 0.8;
  fill:#000;
}

.outerChart .recharts-brush rect:nth-of-type(1) {
  fill:#343954 !important; 
}

.outerChart.light .recharts-brush rect:nth-of-type(1) {
  fill:#EAE8E3 !important; 
}*/

/*.outerChart .recharts-brush-texts {
  y: 310 !important;
  dy:0 !important;
}*/

.circlePic{
  margin-right: 10px;
  margin-top: -7px;
  vertical-align: middle;
}

.scatterdiv h2.title:before {
 display:none;
}